absl-py==2.0.0
accelerate==0.24.1
aiohttp==3.9.1
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.2
boto3==1.34.16
botocore==1.34.16
bpemb==0.3.4
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
cmake==3.25.0
conllu==4.5.3
contourpy==1.1.1
cycler==0.12.1
datasets==2.16.1
Deprecated==1.2.14
dill==0.3.6
filelock==3.13.1
-e git+https://github.com/flairNLP/flair.git@ddf3bb3e44f2a68b32d532ae5438d71c4125e4ab#egg=flair
fonttools==4.43.1
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.1.3
gdown==4.7.1
gensim==4.3.2
huggingface-hub==0.20.1
idna==3.4
Janome==0.5.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
langdetect==1.0.9
lit==15.0.7
lxml==5.1.0
MarkupSafe==2.1.2
matplotlib==3.8.0
more-itertools==10.2.0
mpld3==0.5.10
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
networkx==3.0
nltk==3.8.1
numpy==1.26.1
packaging==23.2
pandas==2.1.4
peft==0.7.1
Pillow==9.3.0
pptree==3.1
protobuf==4.24.4
psutil==5.9.6
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
responses==0.18.0
rouge-score==0.1.2
s3transfer==0.10.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.4
segtok==1.5.11
semver==3.0.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
sqlitedict==2.1.0
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.2.0
tokenizers==0.15.0
torch==2.0.1
tqdm==4.66.1
transformers==4.35.2
triton==2.0.0
typing_extensions==4.8.0
tzdata==2023.4
urllib3==1.26.18
wcwidth==0.2.13
wget==3.2
yarl==1.9.4
